/* Public API Request*/

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    text-align: center;
		/* changed background to an image & covered whole body*/
    background: url(../images/geometric-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 15px 5px 5px;
   	/* changed background to an image & covered whole header*/
    background: url(../images/geometric-background1.png);
    border-bottom: 2px solid white;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
		/* changed the font */
		font-family: 'Staatliches', cursive;
    font-size: 1.25em;
		/* color changed to white*/
    color: white;
    margin-top: 35px;
}


	
h3, p.card-text {
  /* changed text famili of h3 & p */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}


/* Gallery */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
		/* changed background of card to none */
    background:none; 
    /* changed the card border radius */
    border-radius: 1em;
		/* give card a white border */
    border: 2px solid white;
    overflow: hidden;
		
}


.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
		/* added border on card image */
		border: 2px solid white;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
}

.card-text {
    font-size: 0.9em;
    color: black;
    margin: 7px auto;
    
}

.cap {
    text-transform: capitalize;
}





/* Modal */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    /* changed background of the modal to an image*/
    background: url(../images/geometric-background.png);
    border-radius: 1em;
		/* gave the modal a white border */
    border: 3px solid white;
    
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
		/* changed background */
    background:#FEE136;
    outline: none;
    border-radius: 0.25em;
    border: 2px solid white;
}
.modal-close-btn:hover {
  background: white;
  color: black;
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
		border: 3px solid white;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color:black;
    margin: 10px;
		/* capitalize */
		text-transform: capitalize;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
		/* border changed */
    border-color: white;
    size: 3px;
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: url(../images/bottomgeometric-background.png);
    border-radius: 1em;
		/* border changed */
    border: 3px solid white;
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
		/* Background changed */
    background:#FEE136;
    border-radius: 0.35em;
    transition: .4s ease-out;
    outline: none;
		/* Border added */
		border: 2px solid white;
  }

  


/* =====================================
   Media Queries
======================================== */

/* =====================================
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .modal {
        margin-top: 100px;
    }
}


/* =====================================
   Desktop
   Hover styles on desktop
======================================== */

@media (min-width: 1024px) {

    .card:hover {
      background: #FEE136;
        border: 1px solid rgba(50, 50, 50, 0.9);
    }

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1);
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1);
    }
}
